#mergeBtnDiv {
    margin-bottom: 0.8vh;
}

#invBody {
    width: 100%; 

    .addInvDiv {
        display: flex;

        .icon {
            position: relative;
            top: 2vh !important;
            font-size: large;
            margin-right: 0.2vw !important;
        }

        .p {
            font-size: 0.85em !important;
            color: #3f51b5; 
        }
    }


        .ok {
            color: black;
            font-weight: normal;
        }

        .ex {
            color: red;
            font-weight: bolder;
        }
    
}