.unVisBox {
    height: 0px !important;
}

.formMealName {
    margin: 0.28vw !important;

    & #icon {
        position: relative;
        right: 0.1vw !important;
        top: -0.1vh !important;
    }
}