#sideToolBar {
    display: inline-block;
    position: fixed; 
    height: 100%; 
    left: 0vw !important; 
    top: 8vh !important;
    width: 13vw !important;
    background-color: #3646A3;
    border: transparent 0.2vw solid; 
    
    .navLink {
        position: absolute; 
        text-decoration: none; 
        color: #91FFFF; 
        margin-left: 0.8vw; 
        left: 0px !important;
        z-index: 1;
        border: transparent 0.2vw solid;    
        
        &:hover:not(:focus) {
            top: 4vh !important;
            width: 92.25%;
            transition: background-color 0.8s ease-in;
            background-color: lighten($color: #3646A3, $amount: 30%) ;
            border: transparent 0.2vw solid;
            border-radius: 0.25vw;
            text-shadow: 0.16rem 0.16rem 0.4rem black;
        }
        
        &:not(:hover) {
            width: 92.25%;
            border: transparent 0.2vw solid;
            border-radius: 0.25vw;
            transition: background-color 0.8s ease-out;
        }

        &#mealType {
            top: 4vh !important;
        }

        &#addDate {
            top: 14vh !important;
        }

        &#customUnit {
            top: 24vh !important;
        }

        &#settings {
            top: 34vh !important;
        }

        &#allergens {
            top: 44vh !important;
        }

        &#chefsCrew {
            top: 54vh !important;
        }

        &#dinersDiet {
            top: 64vh !important;
        }

        &#cleaningCrew {
            top: 74vh !important;
            left: -0.4vw !important;
            width: 95%;
        }
        
        .img {
            position: relative;
            z-index: 3;
            display: inline-block;
            vertical-align: middle;
        }

        .sSize {
            margin-left: 0.5vw !important;
            width: 3.4vw !important;
            margin-right: 2.2vw !important;
            min-height: 2.8vh;
        }

        .midSize {
            width: 5.2vw !important;
            min-height: 2.8vh;
            margin-right: 0.78vw !important;
        }

        .lSize {
            width: 5.8vw !important;
            min-height: 2.8vh;
            margin-right: 0.5vw !important;
        }

        .tgNav {
            display: inline-block;
            margin-left: 0.25vw !important;
            font-size: 1vw;
        }
    }
}

#switchContainer {
    margin-top: 12vh;
}