#mealScheduleTable {
    border: solid 1px black; 
    text-align: left; 
    white-space: nowrap;

    #head {
        background-color: #3f51b5; 
        color: #00FFFF; 
        width: auto;

        #headTr {
            white-space: nowrap; 
            font-size: 1.5em !important; 
            line-height: 3.5vh !important;
        }

        #headTh {
            width: auto;
        }

        #headThClean {
            background-color: darkGreen; 
            color: lightGreen;
        }
    }
}

.name {
    line-height: 270% !important;
    text-align: center; 
    white-space: nowrap; 
    display: inline-block;
    width: 6vw;
    font-size: 1.1em !important;
}

.sousName {
    background-color: lightblue;
}

.cleanName {
    background-color: darkGreen; 
    color: lightGreen;

}

.tableTr {
    line-height: auto; 
    border-bottom: 1px solid black; 
}

.servingTd {
    text-indent: 2vw !important;
}

.checkBox {
    transform: scale(1.3);
}

.dishInfo {
    text-align: left;
    vertical-align: text-top;
    width: 10.5vw !important;

    .dishIng {
        margin: 0px !important; 
        height: 2.5vh !important;
    }
}

.dishNameInfoTh {
    display: inline-block;
    text-align: center;
    width: 10.5vw !important;
    max-width: auto;
}

#scheduleTable {
    margin-top: 1.95vh !important;
    border: solid 1px black; 
    text-align: left; 
    width: auto;

    #tableHead {
        background-color: #3f51b5; 
        color: #00FFFF;
    }

    #tableBody {
        display: block;
    }
}
