#shoppingDiv {
    width: 100%; 

    #unVisData {
        display: none;
    }

    #filtersDiv {
        border: solid 0.1vw #D3D3D3;
        border-radius: 0.2vw !important;
        margin-bottom: 1vh !important;
        height: auto !important;

        #filtersTitle {
            position: relative;
            left: 2vw !important;
            text-decoration: underline;
            height: 3vh !important;
         }

         #combo-box-filters {
            display: flex;
            position: relative;
            margin-left: 2vw !important; 
            height: 7vh !important;

            .w {
                width: 14vw !important;
            }

            .left {
                margin-left: 0.25vw !important;
            }

            #switchCtrl {
                position: relative;
                margin-left: 1vw !important; 
                width: 18vw !important;
                border: solid 0.12vw #D3D3D3;
                border-radius: 0.2vw !important;
                height: 6vh !important;
                top: -0.4vh !important;
            }
         }
    }

    #colsReveal {
        border: solid 0.1vw #D3D3D3; 
        border-radius: 0.25vw !important; 
        margin-bottom: 1vh !important; 
        height: 11.2vh !important;

        #colsTitle {
            margin-left: 2vw !important;
            text-decoration: underline; 
            height: 0px !important;
        }

        #checkbox-hide-columns {
            display: flex;
        }

        .checkBox {
            margin-left: 3.6% !important;
            position: relative;
            left: -0.5% !important;
            font-size: 0.9vw !important;
        }
    }

    #tableTitle {
        margin-left: 0.5vw !important;
        text-decoration: underline; 
        font-weight: bolder;
    }

    .unPurched {
        height: 0.5vh !important;
    }

    .purched {
        font-weight: bolder;
        font-size: 1.15vw;
    }

    #btnPurchItems {
        margin-top: 1.1vh !important;

        #btn {
            background-color: lighten(lightblue, 15%);
            
            #tg {
                font-weight: bolder;
                word-spacing: 0.2vw;
            }
        }
    }
}