#foodItemDiv {
    width: 100%;

    #addDiv {
        display: flex;
    }

    #icon {
        position: relative;
        top: 1.2vh !important;
        margin-right: 0.2vw;
    }

    #p {
        font-size: 0.75em !important; 
        color: #3f51b5;
        font-weight: bold;
    }

    #combo-filter-food-items {
        width: 100%; 
        display: inline-block;
    }
}