#noteDiv {
    display: block;
}

#returnBtn {
    margin-bottom: 12px !important;
    width: 120px !important;
}

#tgIngTitleData {
    text-align: center; 
    font-weight: bold; 
    text-decoration: underline; 
    word-spacing: 8px !important;
    margin-bottom: 10px !important;
}

#ingNote {
    width: 95%;
    min-height: 100px !important;
    display: block;
}

#saveBtn {
    margin-top: 12px !important;
    margin-right: 70px !important;
    float: right !important;
    left: -24px !important;
    word-spacing: 6px;
}