.grow {
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow:  0.05rem 0.05rem 1rem 0.05rem lighten(blue, 20%);
    } 
}

.grd {
    margin-left: 0.5vw !important;

    .link {
        text-decoration: none; 
        color: #3f51b5;
    } 
}