#kitchenDiv {
    display: flex;
    margin-left: 1% !important;

    .addKitchenDiv {
        display: flex;

        .icon {
            position: relative;
            top: 2vh !important;
            font-size: large;
            margin-right: 0.2vw !important;
        }

        .p {
            font-size: 0.84em !important;
            color: #3f51b5; 
        }
    }
}